<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PayPal Standard Payments Integration | Client Demo</title>
  </head>

  <body>
    <div id="paypal-button-container"></div>
    <!-- Sample PayPal credentials (client-id) are included -->
    <script
      src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"
      data-sdk-integration-source="integrationbuilder"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
